<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/tw.css" rel = "stylesheet"/>
    <title>Spring Boot Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/878e958776.js" crossorigin="anonymous"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#092147',
                        secondary: '#1A488E',
                        tertiary: '#97B2DE'
                    }
                }
            }
        }
    </script>
</head>
<body>
<header th:insert="components/components.html :: navbar"> </header>
<form th:action="@{/employees}" method="get" class="space-x-4 w-screen">
    <label>
        <input type="text" name="firstNameQuery" th:value="${firstNameQuery}"  placeholder="First name" size="50" >
    </label>
    <label>
        <input type="text" name="lastNameQuery" th:value="${lastNameQuery}"  placeholder="Last name" size="50" >
    </label>
    <label>
        <input type="text" name="sexQuery" th:value="${sexQuery}"  placeholder="Sex" size="50" >
    </label>
    <label>
        <input type="text" name="functionQuery" th:value="${functionQuery}"  placeholder="Function" size="50" >
    </label>
    <label>
        <input type="date" name="hireDateFrom" th:value="${hireDateFrom}"  placeholder="Hire date from ..." size="50" >
    </label>
    <label>
        <input type="date" name="hireDateTo" th:value="${hireDateTo}"   placeholder="Hire Date to" size="50" >
    </label>
    <button type="submit" class="btn btn-info" >Search</button>
    <button class="btn btn-info" ><a href="/employees">All employees</a></button>
</form>
    <div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-4 py-2">First name</th>
                    <th scope="col" class="px-4 py-2">Last name</th>
                    <th scope="col" class="px-4 py-2">Serial number</th>
                    <th scope="col" class="px-4 py-2">Sex</th>
                    <th scope="col" class="px-4 py-2">Function</th>
                    <th scope="col" class="px-4 py-2">Hire date</th>
                    <th scope="col" class="px-4 py-2">Details</th>
                </tr>
                </thead>
                <tbody>
                <!-- Utilisez Thymeleaf pour itérer sur la liste des employés et afficher les données -->
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" th:each="employee : ${employees}">
                    <td class=" px-4 py-2" th:text="${employee.firstName}"></td>
                    <td class=" px-4 py-2" th:text="${employee.lastName}"></td>
                    <td class=" px-4 py-2" th:text="${employee.serialNumber}"></td>
                    <td class=" px-4 py-2" th:text="${employee.sex}"></td>
                    <td class=" px-4 py-2" th:text="${employee.function}"></td>
                    <td class=" px-4 py-2" th:text="${employee.hireDate}"></td>
                    <td class=" px-4 py-2" ><a th:href="@{/employees/{id}/card(id=${employee.id})}">Détails</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 absolute bottom-10 right-10"><a href="/employees/create"> Add employees <i class="fa-solid fa-arrow-right"></i></a></button>
<button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 absolute bottom-10 left-10"><a href="/export-to-csv"> Download csv <i class="fa-solid fa-arrow-right"></i></a></button>

</body>
</html>