<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/878e958776.js" crossorigin="anonymous"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#092147',
                        secondary: '#1A488E',
                        tertiary: '#97B2DE'
                    }
                }
            }
        }
    </script>
</head>
<body th:object="${employee}" >
<header th:insert="components/components.html :: navbar"> </header>
<img th:src="'data:image/jpeg;base64,' + ${employee.picUrl}" alt="Aucune image" class="rounded-full h-20 w-20 mx-auto mt-4">
 <form th:action="@{/employees/{id}((id=${employee.id}))}" th:object="${employee}" th:method="put" enctype="multipart/form-data">
    <div class="mb-6">
        <label for="firstname" class="block text-gray-700 text-sm font-bold mb-2">First Name :</label>
        <input th:field="*{firstName}" type="text" id="firstname" name="firstname" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
    </div>
    <div class="mb-6">
        <label for="lastname" class="block text-gray-700 text-sm font-bold mb-2">Last Name :</label>
        <input th:field="*{lastName}" type="text" id="lastname" name="lastname" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
    </div>
    <div class="mb-6">
        <label for="matricule" class="block text-gray-700 text-sm font-bold mb-2">Matricule :</label>
        <input th:field="*{serialNumber}" type="text" id="matricule" name="matricule" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
    </div>
    <div class="mb-6">
        <label for="birthday" class="block text-gray-700 text-sm font-bold mb-2">Birthday :</label>
        <input th:field="*{birthday}" type="date" id="birthday" name="birthday" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
    </div>
     <div class="mb-6">
         <label for="location" class="block text-gray-700 text-sm font-bold mb-2">Location:</label>
         <input th:field="*{location}" type="text" id="location" name="location" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
         <label for="sex" class="block text-gray-700 text-sm font-bold mb-2">Sexe :</label>
         <select id="sex" name="sex" th:field="*{sex}">
             <option th:value="Homme">Homme</option>
             <option th:value="Femme">Femme</option>
         </select>
     </div>
     <div class="mb-6">
         <label for="pro_email" class="block text-gray-700 text-sm font-bold mb-2">Professional email :</label>
         <input th:field="*{proEmail}" type="email" id="pro_email" name="pro_email" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
         <label for="ps_email" class="block text-gray-700 text-sm font-bold mb-2">Personal email</label>
         <input th:field="*{psEmail}" type="email" id="ps_email" name="ps_email" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
         <label for="dependent_children" class="block text-gray-700 text-sm font-bold mb-2">Dependent children</label>
         <input th:field="*{dependentChildren}" type="number" id="dependent_children" name="dependent_children" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
         <label for="social_category" class="block text-gray-700 text-sm font-bold mb-2">Socio-professional category</label>
         <select id="social_category" name="social_category" th:field="*{socialCategory}" >
             <option value="">Sélectionnez une option</option>
             <option th:value="M1">M1</option>
             <option th:value="M2">M2</option>
             <option th:value="OS1">OS1</option>
             <option th:value="OS2">OS2</option>
             <option th:value="OS3">OS3</option>
             <option th:value="OP1">OP1</option>
         </select>
     </div>
     <div class="mb-6">
         <label for="cnaps_serial_number" class="block text-gray-700 text-sm font-bold mb-2">Cnaps serial number :</label>
         <input th:field="*{cnapsSerialNumber}" type="text" id="cnaps_serial_number" name="cnaps_serial_number" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
         <h3>Informations sur la carte d'identité</h3>
         <div class="mb-6">
             <label for="number" class="block text-gray-700 text-sm font-bold mb-2">CIN number:</label>
             <input th:field="*{identityCardId}" type="text" id="number" name="number" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
         </div>
         <div class="mb-6">
             <label for="delivery_day" class="block text-gray-700 text-sm font-bold mb-2">Delivery date :</label>
             <input th:field="*{identityCardDelDate}" type="date" id="delivery_day" name="delivery_day" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
         </div>
         <div class="mb-6">
             <label for="delivery_place" class="block text-gray-700 text-sm font-bold mb-2">delivery place :</label>
             <input th:field="*{identityCardDelPlace}" type="text" id="delivery_place" name="delivery_place" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
         </div>
     </div>
     <div class="mb-6">
         <label for="phoneNumbers" class="block text-gray-700 text-sm font-bold mb-2">Phone number (Si vous avez plusieurs numéros à ajouter, veuillez les séparer par une virgule et un espace. ex: 0336798734, 0345612685, 0328976543, ...)</label>
         <input type="text" id="phoneNumbers" name="phoneNumbers" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
         <label for="resignation_date" class="block text-gray-700 text-sm font-bold mb-2">Resignation date</label>
         <input th:field="*{resignationDate}" type="number" id="resignation_date" name="dependent_children" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
     </div>
     <div class="mb-6">
        <label for="photo" class="block text-gray-700 text-sm font-bold mb-2">Photo :</label>
        <input type="file" id="photo" name="photo" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500" required>
    </div>
    <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Update <i class="fa-solid fa-plus"></i></button>
    </div>
</form>
</body>
</html>